services:
  backend:
    image: myregistrybart666.azurecr.io/azure-app-backend:latest
    container_name: azure_app_backend
    env_file:
      - .env
    networks:
      - app-network

  frontend:
    image: myregistrybart666.azurecr.io/azure-app-frontend:latest
    container_name: azure_app_frontend
    networks:
      - app-network

  nginx:
    image: myregistrybart666.azurecr.io/azure-app-nginx:latest
    container_name: azure_app_nginx
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
